body {
    font-family: sans-serif, Arial;
    height: 100vh;
    background-color: white;
}

.flexbox {
    display: flex;
}

.container-row {
    flex-direction: green;
}

.container-column {
    flex-direction: column;
    border: 1px solid orange
}

.main-container {
    border: 1px solid red;
    height: calc(100% - 98px);
}

.search-history-element {
    height: 40px;
    background-color: grey;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0px;
}

#header {
    color: white;
    background-color: blue;
    text-align: center;
    justify-content: center;
    padding: 25px 0;
    margin: 0;

}

#search {
    color: white;
    background-color: blue;
    width: 100%;
}

.weathercard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #090961;
    color: white;
    padding-left: 10px;
}

.weathercard img {
    width: 65px;
}

.weathercard ul {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;

}

.left {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 30%;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 70%;

}

/* HERE */
.day1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    color: rgb(43, 43, 63);
    */
    /* font-size: 10; //change font-size of header, not text */
}

.day2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    color: rgb(43, 43, 63);
    */
    /* font-size: 10; //change font-size of header, not text */
}

.day3 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    color: rgb(43, 43, 63);
    */
    /* font-size: 10; //change font-size of header, not text */
}

.day4 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    color: rgb(43, 43, 63);
    */
    /* font-size: 10; //change font-size of header, not text */
}

.day5 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    color: rgb(43, 43, 63);
    /* font-size: 10; //change font-size of header, not text */
}
